#mobile-wrap {
  #top {
    .navbar {
      height: 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  #footer {
    .footer-container {
      height: 150px;
      background: #181a20;
      color: white;
      text-align: center;
      justify-content: center;
    }
  }
}
